@import url('footer.css');
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  font-size: 15px;
  overflow-x: hidden;
}
/* HEADER */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: absolute;
  top: -10px;
  width: 90vw;
}
nav img {
  width: 32px;
  height: 32px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

nav li {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 10px;
  color: #fff;
}
nav li a {
  font-size: 1.2rem;
}

nav li a::after {
  transition: 0.3s;
  content: '';
  display: block;
  height: 4px;
  background: transparent;
  border-radius: 4px;
  width: 100%;
}

nav li a:hover::after {
  content: '';
  display: block;
  background: #fff;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  width: 100%;
}

body .fundo_principal {
  width: 0;
  height: 0;
  border-left: 99vw solid #973af3;
  border-bottom: 55rem solid transparent;
}

/* MAIN */
.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  position: absolute;
  top: 20rem;
  max-width: 100%;
}
.conteudo .texto_inicial {
  width: 60rem;
  padding-left: 50px;
  display: grid;
  align-content: start;
  gap: 1rem;
}

img {
  max-width: 100%;
  display: block;
}
.conteudo .imagem {
  width: 100%;
  display: grid;
  justify-items: center;
}
.conteudo .imagem img {
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  height: 20rem;
}
.conteudo p {
  color: #fff;
  background: #913af3;
  border-radius: 8px;
  padding: 0.5rem;
}

.conteudo .btn_login {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: #913af3;
  border: 2px solid #fff;
  font-weight: 550;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
}
.btn_login:hover {
  background: #fff;
  color: #913af3;
  border: 2px solid #913af3;
  color: #913af3;
}

.categorias {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: 5rem;
}
.categorias div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #913af3;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.1);
}
.categ_cat {
  background-image: url('../assets/index/categ_cat.jpeg');
}
.categ_dog {
  background-image: url('../assets/index/categ_dog.jpeg');
}
.categ_fish {
  background-image: url('../assets/index/categ_outros.png');
}
.categ_diversos {
  background-image: url('../assets/index/categ_products.webp');
}

@media (max-width: 750px) {
  .conteudo {
    flex-direction: column;
    top: 10rem;
  }
  .conteudo .imagem {
    padding-left: 50px;
  }
  .conteudo .imagem img {
    width: 50%;
  }
  .conteudo .texto_inicial {
    width: initial;
    display: grid;
    align-content: start;
    gap: 1rem;
    padding-left: 140px;
    align-self: center;
  }
  .conteudo .texto_inicial p {
    width: 80%;
  }
  .image {
    width: 5rem;
    height: 5rem;
  }
  .categorias p {
    font-size: 0.8rem;
  }
  .categ_produtos {
    max-width: 4rem;
  }
}

@media (max-width: 550px) {
  .conteudo {
    top: 8rem;
    gap: 4rem;
  }
  .image {
    width: 3rem;
    height: 3rem;
  }
  .conteudo .imagem img {
    height: 15rem;
  }
}

@media (max-width: 430px) {
  .conteudo {
    top: 12rem;
  }

  .conteudo .imagem img {
    height: 10rem;
  }

  .conteudo p {
    font-size: 0.8rem;
  }

  .conteudo .btn_login {
    font-size: 1rem;
  }
  .conteudo .texto_inicial {
    padding-left: 100px;
  }
}
