<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Endereço | Pet Shop</title>
  <link rel="stylesheet" href="../css/endereco.css">
  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">

</head>

<body>
  <header>
    <nav class="nav">
      <img src="../../assets/dogs.svg" alt="Logo">
      <ul>
        <li class="linkPerfil">
          <a href="./perfil.html">Perfil</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="content">
    <form class="formCadastrar">
      <h2>Cadastrar Endereço</h2>
      <div>
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="titulo" required>
      </div>
      <div>
        <label for="cep">CEP</label>
        <input type="number" name="cep" id="cep" required placeholder="Digite somente números">
      </div>
      <div>
        <label for="endereco">Endereco</label>
        <input type="text" name="endereco" id="endereco" required>
      </div>
      <div>
        <label for="numero">Número</label>
        <input type="number" name="numero" id="numero" required>
      </div>
      <div>
        <label for="complemento">Complemento</label>
        <input type="text" name="complemento" id="complemento" required>
      </div>
      <div>
        <button class="btnCadastrar">Cadastrar</button>
      </div>
      <span class="error">Cadastre um endereço válido.</span>
      <span class="cadastrado">Endereço cadastrado</span>
    </form>
    <form class="formAlterar">
      <h2 class="tituloAlterar">Alterar Endereço</h2>
      <div>
        <label for="titulo_alterar">Titulo</label>
        <input type="text" name="titulo_alterar" id="titulo_alterar" required>
      </div>
      <div>
        <label for="cep_alterar">CEP</label>
        <input type="number" name="cep_alterar" id="cep_alterar" required placeholder="Digite somente números">
      </div>
      <div>
        <label for="endereco_alterar">Endereco</label>
        <input type="text" name="endereco_alterar" id="endereco_alterar" required>
      </div>
      <div>
        <label for="numero_alterar">Número</label>
        <input type="number" name="numero_alterar" id="numero_alterar" required>
      </div>
      <div>
        <label for="complemento_alterar">Complemento</label>
        <input type="text" name="complemento_alterar" id="complemento_alterar" required>
      </div>
      <div>
        <button class="btnAlterar">Alterar</button>
      </div>
      <span class="errorAlterar">Cadastre um endereço válido.</span>
      <span class="cadastradoAlterar">Endereço Alterado!</span>
    </form>
  </main>


  <script src="../script/endereco.js"></script>
</body>

</html>