<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/perfil.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <title>Perfil | Pet Shop</title>
</head>

<body>
    <header>
        <nav class="navegacao">
            <img src="../assets/dogs.svg" alt="Logo">
            <ul>
                <li>
                    <a href="./endereco.html">Cadastrar endereço</a>
                </li>
                <li>
                    <a href="../index.html" class="btnSair">Sair</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <aside>
            <div>
                <h2> Endereço </h2>
            </div>
            <div class="endereco">
                <div class="form"></div>
            </div>
        </aside>

        <main>
            <div class="nome">
                <h2>Nome</h2>

            </div>
            <div class="imagem">
                <img src="../assets/perfil/pegadas-de-cachorro.png" alt="">
                <img src="../assets/perfil/pegadas-de-cachorro.png" alt="">
                <img src="../assets/perfil/pegadas-de-cachorro.png" alt="">

            </div>
            <div class="informacoes">
                <h2> Informações Pessoais</h2>
            </div>
        </main>
    </div>

    <footer>
        <div class="redes">
            <div class="instagram">
                <i class="bi bi-instagram"></i>
                <p>impactaoficial_</p>
            </div>
            <div class="facebook">
                <i class="bi bi-facebook"></i>
                <p>Faculdade Impacta</p>
            </div>
            <div class="envelope">
                <i class="bi bi-envelope-at"></i>
                <p>desenvolvimento_web@gmail.com</p>
            </div>
            <div class="faq">
                <i class="bi bi-question-square"></i>
                <p>FAQ</p>
            </div>
        </div>
        <center>
            <p>2024 © Todos os direitos reservados</p>
        </center>
    </footer>

    <script src="../script/perfil.js"></script>
</body>

</html>